$lblue : #C7F7FF;
$mblue : #89C0C9;
$dblue : #3A5E63;
$lbrown : #C9A689;
$dbrown : #7C593C;
$lgrey : #d4d4d4;
$dgrey : #222;

$fontsans : 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif;
$fontserif : Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

